
@import url(./__container/video__container.css);
@import url(./__icon/video__icon.css);
@import url(./__duration/video__duration.css);
@import url(./__title/video__title.css);
@import url(./__subtitle/video__subtitle.css);
@import url(./__text/video__text.css);
@import url(./__text/_theme/video__text_theme_observatory.css);
@import url(./__link/video__link.css);

.video {
  max-width: 74rem;
  min-width: 26rem;
  margin: auto;
}

@media screen and (max-width: 769px) {
  .video {
    max-width: 47.8rem;
    min-width: 10rem;
  }
}

@media screen and (max-width: 426px) {
  .video {
    max-width: 26rem;
    min-width: 10rem;
  }
}
