.photo-grid__item {
  width: 100%;
}

@media screen and (max-width: 769px) {
  .photo-grid__item {
    max-width: 100vw;
  }
}

@media screen and (max-width: 426px) {
  .photo-grid__item {
    max-width: 90vw;
  }
}
