@import url(./__logo/header__logo.css);
@import url(./__lang/header__lang.css);
@import url(./__lang/_active/header__lang_active.css);
@import url(./__language/header__language.css);


.header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-end;
 padding-top: 1.875rem;
 max-width: 74rem;
 min-width: 21.4rem;
 margin: 0 auto;
 margin-bottom: 3rem;
}

@media screen and (max-width: 1026px) {
  .header {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 769px) {
  .header {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 426px) {
  .header {
    max-width: 21.4rem;
    min-width: 18rem;
    padding-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 321px) {
  .header {
    max-width: 18rem;
    min-width: 5rem;
  }
}

