.comments__name {
  font-style: normal;
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@media screen and (max-width: 769px) {
  .comments__name {
    margin-bottom: 1.5rem;
  }
}
