.video__title {
  max-width: 20.125rem;
  font-style: normal;
  font-weight: 900;
  font-size: 2.25rem;
  margin-left: 1.875rem;
  margin-bottom: 1.125rem;
  margin-top: 0px;
}

@media screen and (max-width: 769px) {
  .video__title {
    min-width: 10rem;
    max-width: 16rem;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }
}

@media screen and (max-width: 426px) {
  .video__title {
    max-width: 18rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 376px) {
  .video__title {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 321px) {
  .video__title {
    max-width: 13rem;
    min-width: 3rem;
  }
}


@media screen and (max-width: 300px) {
  .video__title {
    margin-right: 0;
    margin-left: 0;
  }
}
