.places__website-url {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  text-decoration: underline;
  text-align: left;
  display: block;
}
.places__website-url:hover {
  opacity: 0.7;
}

