.lead__caption {
  max-width: 39.75rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 769px) {
  .lead__caption {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 426px) {
  .lead__caption {
    margin-left: 1rem;
  }
}
